<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727" safemode="true"/>
    <requiredRuntime version="v2.0.50727" safemode="true"/>
  </startup>
  <appSettings>
	<add key="VCenterServer" value="vcenterservername" />
	<add key="RunStats" value="0" />
	<add key="PSToolsDir" value="C:\PSTools" />
	
	<add key="RunRemoteXL" value="1" />
	<add key="XLServerScriptUNC" value="\\excelservername\c$\VMWare\" />
	<add key="XLLocalScriptPath" value="c:\VmWare" />
	<add key="XLServerName" value="excelservername" />

	<add key="enableAddZipExt" value="1" />
	<add key="addZipExt" value="txt" />
	
	<add key="PSToolsUser" value="domain\user" />
	<add key="PSToolsPass" value="password" />
	<add key="VmwareStatsLoc" value="\\fileserver\Files\VMWare\VMwareStats" />
	<add key="DaysRun" value="90" />
	<add key="CLIUser" value="vmcli" />
	<add key="CLIPass" value="paswword" />
	<add key="EmailEnable" value="1" />
	<add key="SmtpServer" value="Smtp.test.com"/>
	<add key="EmailFrom" value="from@test.com" />
	<add key="EmailTo" value="test@test.com,test2@test.com" />
	<add key="EmailSubject" value="Past 90 Stats From Vmware"/>
  </appSettings>
</configuration>